@import "../../_styles/variables.module.scss";

.notes {
  position: relative;
  width: 100%;
  height: calc(100% - $meta-height - $add-memo-height - 20px - 20px);
  margin-top: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
