.wrapper {
  position: relative;
  width: 100%;
  height: calc( 100% - 2 * 40px - 2 * 10px );
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  .content {
    position: relative;
    resize: none;
    font-size: 14px;
    height: 100%;
    width: 100%;
    border: none;
  }
}
