.field {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 5px 0;

  .input {
    padding: 10px;
    border-radius: 10px;
    border: solid 1px rgb(161, 161, 161);
    color: rgb(104, 104, 104);
    position: relative;
    font-size: 14px;
    resize: none;
  }
}