$add-button-height: 50px;

.window {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5%;

  .view {
    position: relative;
    width: 100%;
    height: calc( 100% - $add-button-height - 20px );
  }
}