.button {
  padding: 10px 30px;
  background-color: var(--color-deepskyblue);
  color: var(--color-white);
  border: none;
  outline: transparent;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}