ENV=dev

JWT_SECRET=ws4edrf6tg7zh8quj9wikdolpoaiuz7t6r5e4s5rcvtzbunijmok435dr6ftv7zbnuijmjbuhfbszutfe45xrc6ztv7ubinomk5rc6vtzbuhnij5rt7vbc8ziubo0ifbnsufvg7tfuisdbfuszhve6tf8vzubnhijmoadgaf4e6sd5r7f6tgz7hu8ji9ok0p0lè4sed5rf6tg7z9h8u0j9ik0olp56778huj9e5rctfvzgbuhiaodhasoq8w7tzda8usdhiauwzgadpso

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=Pa$\$w0rd
DB_NAME=SilicateDB
DB_PORT=5432

BACKEND_PORT=4000
BACKEND_URL=http://localhost:${BACKEND_PORT}
FRONTEND_URL=http://localhost:3000
