.empty {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    text-align: justify;

    .addMemo {
      background-color: var(--color-lavender);
      padding: 5px 15px;
      border-radius: 10px;
    }
  }
}
