@import "../../_styles/variables.module.scss";

.meta {
  position: relative;
  width: 100%;
  height: $meta-height;
  display: flex;

  .search {
    position: relative;
    height: 100%;
    flex-grow: 1;
    border-radius: 15px;
    border: solid 1px grey;
    padding: 0 10px;
  }
}
