.form {
  position: relative;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  div:first-of-type {
    margin-top: 0;
  }
  
  div:last-of-type {
    margin-bottom: 0;
  }
}