.field {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: var(--color-timberwolf);
  border: none;
  border-radius: 10px;
  display: flex;
}

.input {
  position: relative;
  flex-grow: 1;
  background-color: transparent;
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 10px;
}

.icon {
  position: relative;
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}