@import '../../index.module';

.add {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $add-memo-height;
  margin-top: 20px;
  background-color: blue;
  border: none;
  outline: transparent;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 20px;
}
